td{
    height: 20px;
    width: 20px;
}
.button1{
    background-color: aqua;
}
button:hover{
    color: white;
    background-color: black;
}
.painettu{
    background-color: black;
    color: white;
}
tr button{
    height: 40px;
    width: 40px;
}