td{
    height: 20px;
    width: 20px;
}
body{
    background-image: url("backgroundImage.jpg");
    color: white;
    font-family: monospace;
    font-size: larger;
}
.button1{
    background-color: rgb(165, 165, 165);
}
.invisible{
    display: none;
}
.visible{
    display: block;
}
button:hover{
    color: white;
    background-color: black;

}
.button2{
    background-color: rgb(165, 165, 165);
}
.button2:hover{
    background-color: rgb(165, 165, 165);
    color: black;
}
button{
    font-family: monospace;
}
#tausta {
    width: fit-content + 200px;
    padding: 20px;
    margin: 20px;
}
.painettu{
    background-color: blue;
}
.osuma{
    background-color: red;
}
.ohi{
    background-color: white;
    color: black;
}
tr button{
    height: 40px;
    width: 40px;
}
.vasenDiv{
    float: left;
}
.oikeaDiv{
    float: right;
}