td{
    height: 20px;
    width: 20px;
}
body{
    background-color: blue;
}
.button1{
    background-color: aqua;
}
button:hover{
    color: white;
    background-color: black;
}
.painettu{
    background-color: blue;
}
.osuma{
    background-color: red;
}
.ohi{
    background-color: white;
    color: black;
}
tr button{
    height: 40px;
    width: 40px;
}
.vasenDiv{
    float: left;
}
.oikeaDiv{
    float: right;
}
.tausta1{
    background-color: blue;
}
.tausta2{
    background-color: red;
}